A1/task 3/about.html
A1/task 3/contact.html
A1/task 3/img/Frank's_annotation.png
A1/task 3/img/gmail.svg
A1/task 3/img/logo.jpg
A1/task 3/img/logo.png
A1/task 3/img/phone.svg
A1/task 3/img/wikipedia.ico
A1/task 4/about.html
A1/task 4/contact.html
A1/task 4/index.html
A1/task 4/img/Frank's_annotation.png
A1/task 4/img/gmail.svg
A1/task 4/img/logo.jpg
A1/task 4/img/logo.png
A1/task 4/img/phone.svg
A1/task 4/img/wikipedia.ico
A1/task 4/js/tota11y.min.js
A1/task 5/about.html
A1/task 5/contact.html
A1/task 5/index.html
A1/task 5/css/normalize.css
A1/task 5/css/styles.css
A1/task 5/img/Frank's_annotation.png
A1/task 5/img/gmail.svg
A1/task 5/img/logo.jpg
A1/task 5/img/logo.png
A1/task 5/img/phone.svg
A1/task 5/img/wikipedia.ico
A1/task 5/js/tota11y.min.js
A1/task 6/about.html
A1/task 6/contact.html
A1/task 6/index.html
A1/task 6/work.html
A1/task 6/css/normalize.css
A1/task 6/css/styles.css
A1/task 6/img/franks-profile.jpg
A1/task 6/img/gmail.svg
A1/task 6/img/phone.svg
A1/task 6/img/wikipedia.ico
A1/task 6/js/tota11y.min.js
A1/task 7/about.html
A1/task 7/contact.html
A1/task 7/index.html
A1/task 7/work.html
A1/task 7/css/normalize.css
A1/task 7/css/sanitize.css
A1/task 7/css/styles.css
A1/task 7/css/sanitize.css-master/.editorconfig
A1/task 7/css/sanitize.css-master/.gitignore
A1/task 7/css/sanitize.css-master/.travis.yml
A1/task 7/css/sanitize.css-master/CHANGELOG.md
A1/task 7/css/sanitize.css-master/CONTRIBUTING.md
A1/task 7/css/sanitize.css-master/forms.css
A1/task 7/css/sanitize.css-master/LICENSE.md
A1/task 7/css/sanitize.css-master/package.json
A1/task 7/css/sanitize.css-master/page.css
A1/task 7/css/sanitize.css-master/README.md
A1/task 7/css/sanitize.css-master/typography.css
A1/task 7/img/franks-profile.jpg
A1/task 7/img/gmail.svg
A1/task 7/img/linkedin.svg
A1/task 7/img/phone.svg
A1/task 7/img/wikipedia.ico
A1/task 7/js/tota11y.min.js
A1/task 8/about.html
A1/task 8/contact.html
A1/task 8/index.html
A1/task 8/work.html
A1/task 8/css/normalize.css
A1/task 8/css/sanitize.css
A1/task 8/css/style.production.css
A1/task 8/css/styles.css
A1/task 8/img/favicon.ico
A1/task 8/img/franks-profile.jpg
A1/task 8/img/gmail.svg
A1/task 8/img/linkedin.svg
A1/task 8/img/phone.svg
A1/task 8/img/Sammy and Sam.svg
A1/task 8/js/stylelint.config.js
A1/task 8/js/tota11y.min.js
A1/task 7/css/sanitize.css-master/.editorconfig
A1/task 7/css/sanitize.css-master/.gitignore
A1/task 7/css/sanitize.css-master/.travis.yml
Part 2/A1/simple-js-app/task 1.7/js/SketchUpPro-2020.1.1.exe
simple-js-app/workspace.code-workspace
Part 2/A1/simple-js-app/task 1.7/js/scripts.js
Part 2/A1/simple-js-app/task 1.7/js/promise-polyfill.js
Part 2/A1/simple-js-app/task 1.7/js/InstallShield.log
Part 2/A1/simple-js-app/task 1.7/js/fetch.js
.gitignore
Part 2/A1/simple-js-app/task 1.7/js/ChromeSetup.exe
Part 2/A1/simple-js-app/task 1.7/css/styles.css
Part 2/A1/simple-js-app/task 1.7/index.html
A1/task 8/.vscode/settings.json
A1/task 8/index1.html
.vscode/settings.json
.vscode/launch.json
